.env
/bootstrap/compiled.php
.env.*.php
.env.php

/node_modules
/public/assets
/public/storage
/public/uploads
/storage/*.key
/storage/debugbar
/vendor
/temp
.DS_Store
.idea/
updates/
composer.lock
*.lock
resources/lang/en.json
/.well-known
